/* {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}*/

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inter', sans-serif;
  }
  
  .container {
    height: 100vh;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transparent-background {
    width:  98%;
    height: 98vh; 
    border: double 1px transparent;
    border-radius: 25px;
    background-image:  linear-gradient(180deg, rgba(2, 20, 28, 1) 0%, rgba(3, 50, 70, 0.5) 100%), radial-gradient(circle at top, rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0));
    opacity: 50%;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  
  .board {
    position: absolute;
    width:  98%;
    height: 98vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .head-board {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .date-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .date {
    margin-left: 16px;
  }

  #today {
    font-weight: 200;
    font-size: 24px;
  }

  #day-of-the-week {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  #current-hour {
    font-weight: 500;
    font-size: 38px;
    line-height: 97px;
    margin-right: 16px;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: white;
    display: flex;
  }
  
  .notes {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  
  .note {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 274px;
    height: 257px;
    background-color: #F95A5A;
    border-radius: 20px;
    margin: 32px 32px;
    color: black;
  }

  .edition-buttons {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }

  #edit-button {
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px 0px 0px 0px;    
    cursor: pointer;
  }

  #delete-button {
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0px 20px 0px 0px;  
    cursor: pointer;
  }

  #note-text {
    width: 231px;
    height: 166px;
    margin-top: 24px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
  }

  #edit-button:hover, #edit-button:active, #delete-button:hover, #delete-button:active {
   
  }
  
  .add-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;    
    margin-bottom: 16px;
    
  }
  
  .text-add-btn {
    width: 120px;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-right: 16px;
  }
  
  .image-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-right: 16px;
  }
  
  #plus-button {
    width: 50px;
    height: 50px;
    cursor: pointer;

  }
  
  @media only screen and (max-width: 1024px) {

        .head-board {
            height: 100px;    
        }
    
  }
    
  @media only screen and (max-width: 767px) {

    .transparent-background {
        width:  90%;
        height: 98vh;
    }

    .board { 
        width:  90%;
        height: 98vh;              
      }

    .head-board {
        height: 100px;    
    }

    #today {
        font-weight: 300;
        font-size: 16px;
    }

    #day-of-the-week {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }
    
    #current-hour {
        font-weight: 600;
        font-size: 24px;    
    }

    .text-add-btn {
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;       
      }

    .notes {
        height: 70vh;
        justify-content: center;
      }

      .note {
   
        margin-left: 16px;
        margin-top: 16px;
      }

      .text-add-btn {
        margin-right: 0;
      }
      
      .image-btn {
        margin-right: 0;
      }
  
  }
