* {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url('/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  
  /*border: double 1px transparent;
  border-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 100%);
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 25px;*/
  width:  95%;
  height: 95vh;
  border: double 1px transparent;
  border-radius: 25px;
  background-image:  linear-gradient(180deg, #02141C 0%, rgb(9, 83, 112) 100%), radial-gradient(circle at top left, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.1));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  opacity: 0.5;  
}

@media only screen and (min-width: 1024px) {
    
  
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  

}  

@media only screen and (max-width: 767px) {
  
  

}