<div id="form-notes">
    <div class="background-form" onclick="closeForm()"></div>
    <form action="/<%= action %>" method="post">
        <div id="close-button" onclick="closeForm()"></div>
        <textarea name="task" id="task" placeholder="Insira uma tarefa" value="<%= value %>"></textarea>
        <button id="<%= idBtn %>" type="submit"><%= nameBtn %></button>    
    </form>
</div> 