<!DOCTYPE html>

<html lang="pt-br">

    <head>

        <meta charset="UTF-8">

        <meta 
            http-equiv="X-UA-Compatible" 
            content="IE=edge">

        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0">

        <link 
            rel="stylesheet" 
            href="styles.css">

        <link 
            rel="preconnect" 
            href="https://fonts.googleapis.com">

        <link 
            rel="preconnect" 
            href="https://fonts.gstatic.com" 
            crossorigin>

        <link 
            href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" 
            rel="stylesheet">

        <title>
            CRUD WITH NODE.JS
        </title>
        
    </head>

    <body>
        
        <div class="container">

            <div class="transparent-background"></div>
            
            <div id="form-background" onclick={closeForm()}></div>

            <div class="board">

                <div class="head-board">

                    <div class="date-field">

                        <div class="date">

                            <div id="today"></div>

                            <div id="day-of-the-week"></div>

                        </div>

                        <div id="current-hour"></div>

                    </div>                    

                    <div class="line"></div>

                </div>

                <div class="notes">

                    <div class="note">

                        <div class="edition-buttons">

                            <span id="edit-button" onclick="editForm()">
                                Editar
                            </span>

                            <span id="delete-button">
                                Excluir
                            </span>

                        </div>

                        <div id="note-text">sou um texto exemplo</div>

                    </div>

                    <div class="note">

                        <div class="edition-buttons">

                            <span id="edit-button" onclick="editForm()">
                                Editar
                            </span>

                            <span id="delete-button">
                                Excluir
                            </span>

                        </div>

                        <div id="note-text">sou um texto exemplo</div>

                    </div>

                    <!-- The form -->
                    <div 
                        class="form-popup" 
                        id="myForm">

                        <form 
                            action="/create" 
                            class="form-container">

                            <button 
                                type="button" 
                                class="btn x cancel" 
                                >

                                <div
                                    alt="close icon"
                                    id="close-button"
                                    onclick="closeForm()">

                            </button>

                            <textarea
                                id="task" 
                                name="task"
                                required>
                            </textarea>
                        
                            <button 
                                type="submit" 
                                class="btn add-Button" 
                                id="addButton">
                                Confirmar
                            </button>

                        </form>

                    </div>

                </div>

                <div class="add-field">

                    <span class="text-add-btn">
                        Adicione novas tarefas
                    </span>

                    <div class="image-btn" onclick="openForm()">
                        <img 
                            src="./images/plus-icon.png" 
                            alt="plus icon"
                            id="plus-button">
                    </div>

                </div>

            </div>

        </div>

        <script src="script.js"></script>
    </body>
    
</html>