* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inter', sans-serif;
  }
  
  .container {
    height: 100vh;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .transparent-background {
    width:  98%;
    min-height: 98vh; 
    height: auto;
    border: double 1px transparent;
    border-radius: 25px;
    background-image:  linear-gradient(180deg, rgba(2, 20, 28, 1) 0%, rgba(3, 50, 70, 0.5) 100%), radial-gradient(circle at top, rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0));
    opacity: 50%;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
  
  .board {
    position: absolute;
    width:  98%;
    min-height: 98vh; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .head-board {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .date-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .date {
    margin-left: 16px;
  }

  #today {
    font-weight: 200;
    font-size: 24px;
  }

  #day-of-the-week {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
  }

  #current-hour {
    font-weight: 500;
    font-size: 38px;
    line-height: 97px;
    margin-right: 16px;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: rgb(70, 97, 122);
    display: flex;
  }
  
  .notes {
    width: 100%;
    height: auto;
    min-height: 80vh;
    display: flex; 
    flex-direction: row ;
    justify-content: top ; 
    box-sizing:border-box;
    background-color: aqua;
  }
  
  .note, .form-container  {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 257px;
    background-color: #F95A5A;
    border-radius: 20px;    
    color: black;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);       
    z-index: 2;
    display: block;
    position: relative;
  }

  .note {
    margin: 32px 32px;
  }

  .note:hover, #plus-button:hover {
    filter: grayscale(0);
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1);
    transform:scale(1.1);
    -webkit-transition:all 300ms ease-in-out;
	  -moz-transition:all 300ms ease-in-out;
	  -o-transition:all 300ms ease-in-out;
	  transition:all 300ms ease-in-out;    
  }

  .note:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  }

  .note:hover > .edition-buttons {
    visibility: visible;
  }

  .edition-buttons {
    width: 100%;
    height: 48px;
    display: flex;
    visibility: hidden;
    align-items: center;
    color:#eceaea;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
  }

  #edit-button, #delete-button{
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);    
    cursor: pointer;
  }

  #edit-button {
    border-radius: 20px 0px 0px 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }

  #delete-button {
    border-radius: 0px 20px 0px 0px;
  }

  #edit-button:hover, #delete-button:hover {
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  #edit-button:active, #delete-button:active {
    color: rgb(175, 174, 174);
    background-color: rgba(0, 0, 0, 0.2);  
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
  }

  #note-text, .form-container textarea{
    width: 200px;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin: auto auto;
    color: black;   
  }

  .add-field {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;    
    margin-bottom: 24px; 
    margin-right: 16px;
  }
  
  .text-add-btn {
    width: 120px;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-right: 16px;
  }
  
  .image-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-right: 16px;
  }
  
  #plus-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  #plus-button:active {
    filter: brightness(50%);
    -webkit-transform:scale(0.9); 
    -moz-transform:scale(0.9); 
    -o-transform:scale(0.9);
    transform:scale(0.9);
  }

  /* The popup form - hidden by default */

.form-popup {
  display: none; 
  position:relative;
  z-index: 2;
  width: 274px;
  height: 257px;
  background-color: aqua;
  margin: 32px 32px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container textarea{
  border: none;
  background-color: transparent;
  height: 100vh;
  float:left;
  clear:left; 
  resize: none;
}

/* When the inputs get focus, do something */
.form-container textarea:focus {
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color:#eceaea;
  padding: 16px;
  border: none;
  width: 100%;
}

.add-Button {
  background-color: transparent;
  border-radius: 0 0 20px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.add-Button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-transition:all 100ms ease-in-out;
	-moz-transition:all 100ms ease-in-out;
	-o-transition:all 100ms ease-in-out;
	transition:all 100ms ease-in-out;
}

.x, .cancel {
  display: flex;
  align-items: center;
  justify-content: end;
  border: none;
  width: 100%;
  height: 16px;
  background-color: transparent;
  margin-top: 8px;
}

#close-button {
  width: 16px;
  height: 16px;
  cursor: pointer;  
  background-image: url('./images/close-icon.png'); 
  background-size: 16px 16px;
  background-repeat: no-repeat;
  
}

#close-button:hover {
  background-image: url('./images/white-close-icon.png');
  -webkit-transition:all 100ms ease-in-out;
	-moz-transition:all 100ms ease-in-out;
	-o-transition:all 100ms ease-in-out;
	transition:all 100ms ease-in-out;
}

#form-background {
  width:  100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display:none;
  position: absolute;
  backdrop-filter: blur(2px);
  z-index: 1;
}

textarea::placeholder {
  color: rgb(0, 0, 0, 0.5);
  width: 200px;

}
  
  @media only screen and (max-width: 1024px) {

        .head-board {
            height: 100px;    
        }
    
  }
    
  @media only screen and (max-width: 767px) {

     .transparent-background {
        width:  90%;
        height: 98vh;
    }

    .board { 
        width:  90%;
        height: 98vh;              
      }

    .head-board {
        height: 100px;    
    }

    #today {
        font-weight: 300;
        font-size: 16px;
    }

    #day-of-the-week {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
    }
    
    #current-hour {
        font-weight: 600;
        font-size: 24px;    
    }

    .add-field {
      margin-right: 0px;
    }

    .notes {
        display: flex;
        height: 70vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        bottom: 32px
      }

      .note {
        z-index: 2;
      }

      .note, .form-popup {
        margin: 8px 0;
      }    

      .text-add-btn {
        margin-right: 0;
      }
      
      .image-btn {
        margin-right: 0;
      }
      
      .text-add-btn {
        display: none;
      }
      
      .image-btn {
        margin-right: 0;
      }
      
      #plus-button {
        width: 48px;
        height: 48px;
      }
  
  }
